.jumbotron {
	padding-top: 2rem;
}

#gambar	{
	height: 500px;
}

.panitia_gambar {
	height: 200px;
	width: 200px;
}

.justify {
	text-align: justify;
}

.tiga {
	height: 200px;
}

.hitam{
	opacity: 0.1 !important;
	height: 100px;
	width: 100px;
}